.body {
    margin: auto;

}

.header {
    width: 100%;
    margin: auto;
}


.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__nav__menu {
    gap: 2rem;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.header__nav__menu__lien a {
    text-decoration: none;
}

.header__nav__logo a {
    text-decoration: none;
}

.main{
    width: 100%;
    margin: auto;
}

.main__div__apropos {
    width: 500px;
    height: 100px;
}

.main__div__image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}


.main__div__bouttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__div__bouttons__btn {
    font-weight: 700;
    margin-left: 10PX;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: blue;
    line-height: 80px;
    text-align: center;
}

.main__div__bouttons__btn__cv{
    background-color: orange;
}

.main__div__bouttons__btn__projets {
    background-color: red;
}

.main__div__bouttons__btn__contact {
    background-color: skyblue;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.main__div, .main__div__bouttons {
    display: flex;
    justify-content: space-around;
}  

.main__divExp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__div__imagePro {
    height: 300px;
    width: 500px;
}

.main__divPro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        height: 100%;
        width: 100%;
    }
    .header__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main {
        min-height: 100vh;
    }

    .main__div {
        display: flex;
        flex-direction: column; 
    
    }

    .main__div__image {
        height: 350px;
        width: 350px;
    }

    .main__div {
        align-items: center;
        text-align: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
}

@media screen and (max-width:480px) {
    .header__nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main {
        min-height: 100vh;
        min-width: auto;
        width: 100%;
    }

    .main__div__image {
        height: 400px;
        width: 400px;
    }

    .main__div {
        align-items: center;
        text-align: center;
    }

    .main__titrePro {
        text-align: center;
    }

    .main__div__imagePro {
        height: 200px;
        width: 300px;
    }

    .main__divPro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}